:root{
    background-color: #fff;
  }
  .container{
    display: flex;
    list-style-type: none;
    padding: 0%;
  }
  .primeiro-menu{
    display: inline;
    list-style-type: none;
    padding: 0%;
  }
  .primeiro-menu ul li{
    display: inline;
  }
  .primeiro-menu ul li a{
    text-decoration: none;
    padding: 10px;
  }
  .primeiro-menu ul li a:hover{
   color: #f16223;
  }
  .segundo-menu{
    list-style-type: none;
    padding: 0%;
  }
  .segundo-menu ul{
    display: inline;
    position: absolute;
  }
  .segundo-menu ul li{
    display: inline-block;
  }
  .segundo-menu ul li a{
    text-decoration: none;
    padding: 10px;
    transition: background .3s;
  }
  .segundo-menu ul li a:hover{
    background-color: #301555 ;
  }
  .segundo-menu ul ul{
    display: none;
    position: absolute;
  }
  .segundo-menu ul li:hover ul{
    display: block;
  }
  .segundo-menu ul ul{
    width: 150px;
  }
  .segundo-menu ul ul li{
    display: inline-block;
  }
  
  #actions-menu{
    align-items: stretch;
  }
  .logo-menu{
    padding: 30px;
  }
  #section-search{
    font-size: 30px;
    color: #5c0f8b;
    margin-top: 30pz;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bolder;
  }
  #section-login{
    text-align: center;
    background: linear-gradient(144deg,#5c0f8b,#301555);
    color: #f16223;
  }
  #section-login i{
    font-size: 46px;
    margin-bottom: 0;
  }
  #section-login a{
    color: #f16223 !important;
    display: block;
    text-decoration: none;
    margin-top: 0;
  }
  .carousel-caption{
    text-align: left;
    top: 200px;
  }
  .carousel-caption button{
    background-color: #5c0f8b;
    color: #f16223;
  }
  .carousel-caption button:hover{
    background-color: #301555;
    border: 1px solid #f16223;
  }
  .exta-navigation-item{
    padding: 4%;
    text-align: center;
    margin: 0;
    background-color: #f16223;
    border-right: 1 px solid #fff;
  }
  .exta-navigation-item a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0,5s;
  }
  .exta-navigation-item a:hover{
    color: #5c0f8b;
  }
  .exta-navigation-item a i{
    margin-right: 15px;
    font-size: 50px;
  }
  .exta-navigation-item a span{
    font-weight: 300;
  }
  
  #conteudo h1{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #5c0f8b;
    font-weight: bolder;
  }
  #conteudo img{
    width: 100%;
  }
  #conteudo button{
    margin-top: 60px;
  }
  #conteudo h1{
    margin-bottom: 40px;
    color: #5c0f8b;
    margin-top: 30px;
  }
  .module_orange-bar__item{
    position: relative;
    background: linear-gradient(-90deg,#f16223 10%);
    padding-right: 15px;
    padding-left: 15px;
    }
  .module_orange-bar__item{
    padding-right: 15px;
    padding-left: 15px;
  
  }
  .row-itens{
    display: flex;
    background-color: #f16223;
    align-items: center;
  }
  .card:hover{
    box-shadow: inset 0 0 1em rgb(240, 238, 238), 0 0 1em rgb(202, 200, 200);
  }
  .row{
    padding: 1%;
    margin: 2%;
  }
  .footer__nav ul{
  list-style-type: none;
  }
  .footer{
      position: relative;
      padding: 60px 0 30px;
      background: transparent linear-gradient(180deg, #5c0f8b, #301555) 0 0 no-repeat padding-box;
  }
  .footer ul li{
      display: block;
  }
  .col-12{
      flex:0 0 100px;
      max-width: 100%;
  }
  .col{
      position: relative;
      width: 100;
      padding-right: 15px;
      padding-left: 15px;
  }
  .justify-content-center{
      justify-content: center! important;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .footer__nav ul{
      padding: 0;
      margin: 0;
  }
  .footer__menus{
     display: block;
  }
  .footer__nav ul li{
      list-style: none;
  }
  .col--sm-5{
      flex: 0 0 41,66;
      max-width: 41,66;
  }
  .footer__nav-terms{
      margin-top: 20;
      border-top: 1px solid #5c0f8b;
      padding-top: 30px;
      opacity: .7;
  }
  .text-sm-left{
      text-align: left! important;
  }
  .mt-50, .my-50{
      margin-top: 50px!important;
  }
  .module_imag_map__content{
    z-index: 10;
  }
  .container-fluid--normal{
    max-width: 1200px;
  }  
  .bg-purple, .h-bg-purple:focus, .h-bg-purple:hover{
    background-color: #5c0f8b;
  }
  .pb-50, .py-50{
    padding-top: 50px!important;
  }
  .pt-50, .py-50{
    padding-bottom: 50px!important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-x1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto ;
  }